/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  margin: 0 10px 15px 10px;
  text-align: center;
}


p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img{
  width: 100%;
}

main .column img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
.form-label {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid #6b1a22;
  padding: 30px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header{
    text-align: start;
  }
  
  header nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  header nav li{
    flex-direction: row;
  }

  .logo{
    font-size: 72px;
  }

  .media-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .join-form{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .alternate-background{
    display: flex;
    align-items: center;
  } 

  .alternate-background div{
    margin: 12px;
  }

  main img {
    width: 50%;
  }
  
  .alternate-background img{
    width: 15%;
  }

  .about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .download-section{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .blog-section{
    display: flex;
  }

 

  .row{
flex-direction: row;
  }

  .column{
    flex-direction: column;
  }

}